body{
    font-family: sans-serif;
    color: black;
    text-indent: 1px;
    padding: 0;
    margin: 0;
    text-indent: 10px;
}
/*               Login Page             */
.bar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.plant
{
    float:right;
    width:600px;
    margin-top: 25px;
}
.user
{
    display : flex;
}
.user i
{
    padding:10px;
    border-bottom: 1px solid green;
}
.left-side{
    margin-top: 20px;
}
.left-side a {
    padding: 20px;
}
a{
    text-decoration: none;
    color : inherit;
}
.right-side{
    padding:20px;
}
section{
    width:300px;
    position: absolute;
    left:40%;
    top:20%;
}
section h1{
border-bottom:6px solid green;
padding:10px;
margin-bottom:35px;
font-size: 40px;
width:140px;
}
section input{
    padding:10px;
    border: none;
    border-bottom: 1px solid green;
    width: 90%;
}
section button{
    margin-top: 20px;
    width: 98%;
    background: none;
    border-style: none;
    border: 2px;
    border-style: solid;
    border-color: green;
    color: black;
    padding:5px;
}
/*         Navigation bar       */
.nav-bar a:hover{
    background:rgb(0, 0, 0);
}
.dropbtn{
    background:rgb(48, 48, 48); 
    color:white;
    cursor: pointer;
    padding:16px;
    font-size: 16px;
    border: none;
}
.nav-bar{
    background-color: rgb(48, 48, 48);
    padding:12px 16px;
}
.nav-bar a{
    padding:12px 16px;
    color:white;
    background-color: rgb(48, 48, 48);
    text-decoration: none;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: inherit;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: white;
    background-color: rgb(48, 48, 48);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover 
{
    background-color: rgb(41, 41, 41);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: black;
}

/*              Home page image             */
.body .texts h1{
    font-size: 60px;
    text-align: center;
    color: green;
}
.body .image{
    
    height:300px;
    background: url(library.jpg);
    text-align: center;
    padding:50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
i{
    color : green;
}
/*      Profile     */
.profile{
    font-size: 20px;
    text-align: center;
    align-items: center;
}
.profile p{
    text-align: center;
    border-bottom: 1px solid green;
    font-size: 20px;
    color: green;
}
.profile pre{
    text-align: center;
}
.profile div{
    text-align: center;
}
.profile i{
    margin-top: 100px;
    font-size: 100px;
}
.profilepic{
    text-align: center;
    align-items: center;
    margin-top: 70px;
}

/*      Contact Us      */
.us{
    margin-top:50px;
    background-color: rgb(208, 238, 208);
    text-align: center;
    color:rgb(48, 48, 48);
}
.us img{
    margin-top: 100px;
    width: 250px;
    border-radius: 50%;
}
.us i:hover{
    color:rgb(0, 66, 0);
}
/*          Responsive      */
@media screen and (max-width:1230px)
{
    section
    {
        left:5%;
    }
    img{
        float:right;
        right: 0;
    }
    body{
        font-size: 10px;
    }
    .body h1{
        font-size:30px;
    }

}
@media screen and (max-width:840px)
{
img{
    display:none;
}
.body .image{
    height:300px;
}
}